.apresentacao-titulo {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.apresentacao-subtitulo {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}

.apresentacao img {
    margin-top: 30px;
    width: 450px; 
}
