.servicos {
    background-color: #1d80c1;
}

.servicos-subtitulo  {
    color: #ffffff;
    font-size: 28px;
    line-height: 42px;
}

.servicos-paragrafo {
    color: #ffffff;
    line-height: 42px;
    font-size: 22px;
    text-align: center;
    width: 700px;
}

.servicos-lista {
    margin: 40px auto;
    width: 135px;
}

.servicos-lista li {
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}


